<section class="container my-5 mx-auto w-screen">
  <div class="content-center justify-items-center">
    <!-- Content Search Btn -->
    <search-input
      placeholder="example: Bogota, Lima"
      btnTxt="Search Capital"
      (value)="query.set($event)"
      [initialValue]="query()"
    />
    <!-- (value)="onSearch($event)" -->
  </div>

  <!-- Table Content -->
  <div class="overflow-x-auto border border-base-content/5 bg-base-100">
    <!-- Table -->
    @if (countryResource.error()) {
    <msg-alert [msgAlert]="countryResource.error()" msgType="error"></msg-alert>
    } @if(countryResource.hasValue()) {
    <table-list [countries]="countryResource.value()" />
    }
  </div>
</section>
