<section class="mx-auto flex flex-col gap-5">
  <!-- Content -->
  <h1 class="text-6xl">By Region</h1>
  <h3 class="text-lg">Select a region !!</h3>

  <section class="row">
    <div class="flex flex-row gap-4">
      @for (region of regions; track region) {
      <button
        class="btn btn-lg btn-outline btn-accent"
        (click)="selectRegion(region)"
        [class.btn-warning]="selectedRegion() === region"
      >
        {{ region }}
      </button>
      }
    </div>
  </section>
  <div class="overflow-x-auto border border-base-content/5 bg-base-100">
    @if (countryResource.error()) {
    <msg-alert [msgAlert]="countryResource.error()" msgType="error"></msg-alert>
    } @else {
    <!-- Table -->
    <table-list
      [countries]="countryResource.value() ?? []"
      [errorMessage]="countryResource.error()"
      [isEmpty]="countryResource.value()?.length === 0"
      [isLoading]="countryResource.isLoading()"
    />
    }
  </div>
</section>
