<table class="table">
  <!-- Table head -->
  <thead>
    <tr>
      <th>#</th>
      <th>Icon</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Capital</th>
      <th>Poblation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Table rows  -->
    @for (country of countries(); track country.cca2; let index = $index) {
    <tr>
      <th>{{ index + 1 }}</th>
      <td>{{ country.flag }}</td>
      <td>
        <img [src]="country.flagSvg" [alt]="country.name" class="w-8" />
      </td>
      <td>{{ country.name }}</td>
      <td>{{ country.capital }}</td>
      <td>
        <span class="badge badge-outline badge-success">
          {{ country.population | number }}
        </span>
      </td>
      <td>
        <a
          [routerLink]="['/country/by', country.cca2]"
          class="btn btn-sm btn-info hover:bg-cyan-500"
          >More Information</a
        >
      </td>
    </tr>
    }
  </tbody>
</table>
