<section class="container my-5 mx-auto w-screen">
  <div class="content-center justify-items-center">
    <!-- Content Search Btn -->
    <search-input
      placeholder="example: Colombia, Perú"
      btnTxt="Search Country"
      (value)="query.set($event)"
      [debounceTime]="600"
      [initialValue]="query()"
    />
  </div>

  <!-- Table Content -->
  <div class="overflow-x-auto border border-base-content/5 bg-base-100">
    @if (countryResource.error()) {
    <msg-alert [msgAlert]="countryResource.error()" msgType="error"></msg-alert>
    }
    <!-- Table -->
    <table-list
      [countries]="countryResource.value() ?? []"
      [errorMessage]="countryResource.error()"
      [isEmpty]="countryResource.value()?.length === 0"
      [isLoading]="countryResource.isLoading()"
    />
  </div>
  <!-- } @if (countryResource.hasValue()) {
    <table-list [countries]="countryResource.value()" />
    } -->
</section>
